.navCont {
  display: block;
  width: 100%;
  top: 0;
  position: sticky;
  padding: 30px 0px;

  /* background: rgba(11, 10, 10, 0.4); */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
.navLi {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 40px;
}
.navLi li {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  z-index: 999;
}
.navLi li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.1s ease-in-out;
}
.navLi li a:hover {
  color: #e1ff00;
}
@media screen and (max-width:600px) {
  .navLi li{
    font-size: 15px;
  }
}