@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
/* font-family: "Space Grotesk", sans-serif; */

.landingContainer,
.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.landingText {
  font-family: "Space Grotesk", sans-serif;
  font-size: 70px;
  color: #ffffff;
  text-align: center;
}

.sectionTitle {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  font-size: 30px;
  color: #e1ff00;
}
/* contact section */

#contact {
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.contactSub {
  display: flex;
  flex-direction: column;
  /* max-width: 300px; */
  gap: 30px;
  /* width: 400px; */
  /* width: auto; */
}
.navLi {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 40px;
  /* width: 400px; */
}
.navLi li {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  z-index: 999;
  width: auto;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.navLi li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: auto; */
}
.navLi li a span {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 5px; */
  transition: color 0.1s ease-in-out;
}
.footer {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  color: #e1ff00;
}

.navLi li a:hover {
  color: #e1ff00;
}
#highlight {
  color: #e1ff00;
}

@media screen and (max-width: 600px) {
  .contactSub {
    max-width: 300px;
  }
  .navLi {
    gap: 10px;
  }
  .navLi li a span {
    font-size: 15px;
  }
  .navLi li a span svg {
    width: 15px;
    height: 15px;
  }
  .footer {
    font-size: 15px;
  }
}
